{% extends 'base.html' %}
{% block title %}Authorization{% endblock title %}
{% block header %} bg5 {% endblock header %}
{% block content %}
    <a class="left-ads-display col-lg-9" href="registration" style="color:#00CED1">Sign Up</a>
        <div class="left-ads-display col-lg-9" style="color:#000000">
            Welcome, please login or register to continue :)
        </div>
            {% if error %}
                <div class="left-ads-display col-lg-9" style="color:#FF0000">
                    <b>You entered the wrong username or password. Please repeat again!</b>
                </div>
            {% endif %}
                <form class="left-ads-display col-lg-9" method="post" action="/authorization" style="color:#000000">
                    {% csrf_token %}
                        {{ auth_form }}
                    <input type="submit" value="Sign in">
                </form>
            <br/>
{% endblock content %}