<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registration</title>
  </head>

  <body background="https://s1.1zoom.ru/b6855/293/Pancake_Blueberries_Honey_Wood_planks_Plate_Fork_516336_3840x2160.jpg" style="background-attachment: fixed">

  <a href="/authorization" style="color:#2F4F4F">Authorization</a>

    <form method="post" action="/registration" style="color:#2F4F4Fs">
          {% csrf_token %}
          {{ reg_form }}
          <input type="submit" value="Sign up">
    </form>

  </body>
</html>