{% extends 'base.html' %}
{% block title %}Registration{% endblock title %}
{% block header %} bg6 {% endblock header %}
{% block content %}
    <a class="left-ads-display col-lg-9" href="/authorization" style="color:#00CED1">Sign In</a>
        <div class="left-ads-display col-lg-9" style="color:#000000">
            Welcome, please login or register to continue :)
        </div>
            <form class="left-ads-display col-lg-6" method="post" action="/registration" style="color:#2F4F4Fs">
                  {% csrf_token %}
                  {{ reg_form }}
                      <input type="submit" value="Sign up">
            </form>
        <br/>
{% endblock content %}