{% extends 'product/base.html' %}
{% block title %}{{ one_product.title }}{% endblock title %}
{% block header %} bg1 {% endblock header %}
{% block content %}
    <div class="card-body">
        <h2 class="card-title {% cycle 'text-danger' 'text-success'%}" style="color:#FFD700">{{ one_product.title }}</h2>
        <div style="text-align: left;">
            {% for image in image_post %}
                <a href="{{image.image_post.url}}">
                    {% if image.image_post %}
                        <img src="{{ image.image_post.url }}" target="_blank" alt="" width="" height="600px"></a>
                    {% endif %}
            {% endfor %}
        </div>
    <br>
        <h4 class="text-bold" style="color:#7B68EE"> <b>Year: <i style="color:#8B4513">{{ one_product.year }}</i></b> </h4>
        <h4 class="text-bold" style="color:#7B68EE"> <b>Country: <i style="color:#8B4513">{{ one_product.country }}</i></b> </h4>
        <h4 class="card-text" style="color:#7B68EE" ><b>Product Description:<br> <i style="color:#C0C0C0">{{ one_product.text|safe }}</i></b></h4>
        <h3 class="text-bold" style="color:#7B68EE"><b>Honey Cost: <i style="color:#000000">{{ one_product.price }} BYR</i></b></h3>
        <div class="rating-star">
                <i class="fa fa-star{% if rating < 1 %}-o empty{% endif %} fa-2x" aria-hidden="true"></i>
                <i class="fa fa-star{% if rating < 2 %}-o empty{% endif %} fa-2x" aria-hidden="true"></i>
                <i class="fa fa-star{% if rating < 3 %}-o empty{% endif %} fa-2x" aria-hidden="true"></i>
                <i class="fa fa-star{% if rating < 4 %}-o empty{% endif %} fa-2x" aria-hidden="true"></i>
                <i class="fa fa-star{% if rating < 5 %}-o empty{% endif %} fa-2x" aria-hidden="true"></i>
		</div>
        <h5 class="card text-white bg-warning mb-3" style="max-width: 18rem;">Author: {{ one_product.user }}</h5>
        <h4 class="card text-white bg-dark mb-3" style="max-width: 18rem;"><b>{{ one_product.created_at|date:"d/m/Y  H:i"}}</b></h4>
            <br>
                <button>
                    {% csrf_token %}
                    <a href="{% url 'add_to_favorites' one_product.id %}" button type="button" class="btn btn-danger">Add To Favorites</a>
                </button>

                <button>
                    {% csrf_token %}
                    <a href="{% url 'delete_to_favorites' one_product.id %}" button type="button" class="btn btn-danger">Remove From Favorites</a>
                </button>
</div>
    <br>
        {% if recently_viewed_post %}
            <h2 class="left-ads-display col-lg-9" style="color:#8B4513"><b>Recently Viewed</b></h2>
                <div class="left-ads-display col-lg-9">
                    {% for recent_post in recently_viewed_post %}
                    <a href="{% url 'product_single' pk=recent_post.post.id %}" >
                    <img src="{{ recent_post.image_post.url }}" alt="" width="" height="150px"></a>
                    {% endfor %}
                </div>
        {% endif %}
    <hr>
<br>
    <form class="left-ads-display col-lg-9" action="" method="post" enctype="multipart/form-data" style="color:#8B4513">
        {% if error %}
            <h3 class="left-ads-display col-lg-9" style="color:#DC143C">{{ error }}</h3>
                <br>
        {% endif %}
            {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}
                    <div class="form-group">
                        <div class="input-rating">
                            <strong class="text-uppercase">You Rating</strong>
                            <div class="rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                            </div>
                        </div>
                    </div>
                <button type="submit" name="button">Post</button>
    </form>
<hr>
     <div style="text-align: right">
        {% for review in reviews %}
        {% for image in review.image.all %}
        {% if image.image_review %}
            <img src="{{ image.image_review.url }}" target="_blank" alt="" width="" height="200px">
        {% endif %}
        {% endfor %}
            <h4 class="card-text" style="color:#C0C0C0" > <b>{{ review.text }}</b> </h4>
            <h5 class="text-bold" style="color:#FF8C00"> <b>{{ review.user }}</b> </h5>
                <div class="rating">
                    <i class="fa fa-star{% if review.rating < 1 %}-o empty{% endif %}"></i>
                    <i class="fa fa-star{% if review.rating < 2 %}-o empty{% endif %}"></i>
                    <i class="fa fa-star{% if review.rating < 3 %}-o empty{% endif %}"></i>
                    <i class="fa fa-star{% if review.rating < 4 %}-o empty{% endif %}"></i>
                    <i class="fa fa-star{% if review.rating < 5 %}-o empty{% endif %}"></i>
                </div>
            <h5 class="card-footer text-muted" style="color:#000000"> <b>{{ review.created_at|date:"d/m/Y  H:i"}}</b> </h5>
        {% for review in page_obj %}
        {% endfor %}
        {% endfor %}
     </div>
{% include 'include/pagination.html' %}
{% endblock content %}