<footer class="editContent">
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-4 footer-grid_section_w3layouts">
                <h2 class="logo-2 mb-lg-4 mb-3">
                    <a href="https://teachmeskills.by/kursy-programmirovaniya/obuchenie-python-minsk" class="editContent">
                        <span class="fa" aria-hidden="true" >
                            Django School
                        </span>
                    </a>
                </h2>
                <p class="editContent" >
                    A channel for programmers and people who want to develop in the IT field.
                    Video tutorials on python 3, Django 3, Django 4, JavaScript, Vue.js, HTML, CSS
                    and much more.
                </p>
                <h4 class="sub-con-fo ad-info my-4 editContent" >Catch on Social</h4>
                <ul class="w3layouts_social_list media-soc list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/" class="w3pvt_facebook editContent" >
                            <span class="fa fa-facebook-f" ></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/?lang=ru" class="w3pvt_twitter editContent" >
                            <span class="fa fa-twitter" ></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://dribbble.com/" class="w3pvt_dribble editContent" >
                            <span class="fa fa-dribbble" ></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/account/about/" class="w3pvt_google editContent" >
                            <span class="fa fa-google-plus" ></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 footer-right">
                <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                    <div class="col-md-4 footer-grid_section_w3layouts">
                        <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Sections</h3>
                        <ul class="list-unstyled w3layouts-icons">
                            <li>
                                <a href="/" class="editContent" >Favorites Products</a>
                                <a href="/catalog" class="editContent" >Catalog</a>
                                <a href="/create_ad" class="editContent" >Created Ad</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grid_section_w3layouts">
                        <!-- social icons -->
                    </div>
                    <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent" >Contact Info</h3>
                        <div class="contact-info">
                            <div class="footer-address-inf my-4">
                                <h4 class="ad-info mb-2 editContent" >Email </h4>
                                <p class="editContent" ><a href="mailto:mr.superbee@mail.by">mr.superbee@mail.by</a></p>
                            </div>
                            <div class="footer-address-inf">
                                <h4 class="ad-info mb-2 editContent" >Location</h4>
                                <p class="editContent" ><a href="https://www.google.com/maps/place/%D0%91%D0%B5%D0%BB%D0%B0%D1%80%D1%83%D1%81%D1%8C/@53.7169415,27.9775789,7z/data=!3m1!4b1!4m5!3m4!1s0x46da2584e2ad4881:0xa1d181ec8c10!8m2!3d53.709807!4d27.953389">Republic of Belarus</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- //footer -->
<div class="cpy-right py-3">
    <div class="container">
        <div class="row">
            <p class="col-md-10 text-left">© 2022 Django Honey. All rights reserved | Design by
                <a href="https://teachmeskills.by/"> TeachMeSkills.</a>
            </p>
            <!-- move top icon -->
            <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true" ></span></a>
            <!-- //move top icon -->
        </div>
    </div>
</div>