<br>
    <h3 class="left-ads-display col-lg-3" style="color:#8B4513">Most Wanted Categories:</h3>
        <br>
            <div class="left-ads-display col-lg-9" >
                {% for item in tag %}
                    <a href="/tag/{{ item.title }}" class="list-group-item list-group-item-action" style="color: #DAA520">{{ item.title }}<span class="badge badge-primary badge-pill" > [{{ item.count }}]</span></a>
                {% endfor %}
            </div>
                {% if error %}
                    <h3 class="left-ads-display col-lg-9" style="color:#000000">{{ error }}</h3>
                        {% else %}
                             <div class="left-ads-display col-lg-9">
                                 <div class="row">
                                    {% for post in page_obj %}
                                     <div class="col-md-4 product-men">
                                        <div class="editContent text-left mt-lg-4" >
                                            <br>
                                                <div class="men-thumb-item">
                                                    <h4 style="color:#DAA520">tag: <a href="{% url 'get_tags' post.tag.title %}" style="color: #00CED1">{{ post.tag.title }}</a></h4>
                                                        </div>
                                                            <div class="product-shoe-info editContent text-center mt-lg-1" >
                                                                <div class="item-info-product">
                                                                    <h2>
                                                                        <a href="http://127.0.0.1:8000/catalog/{{ post.id }}" class="" style="color:#FFD700">{{ post.title }}</a>
                                                                    </h2>
                                                                        <div style="text-align: left;">
                                                                            {% for image in image_post %}
                                                                            {% if image.post == post %}
                                                                                <a href="http://127.0.0.1:8000/catalog/{{ post.id }}" >
                                                                                    <img src="{{ image.image_post.url }}" class="img-fluid" target="_blank" alt="" width="" height="600px">
                                                                                </a>
                                                                            {% endif %}
                                                                            {% endfor %}
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        <h1 class="editContent text-center" style="color:#000000"> <b>{{ post.price }} BYR</b> </h1>
                                                        <h4 class="card-text" style="color:#FF8C00" >{{ post.user }}</h4>
                                                        <h4 class="card-footer text-muted" style="color:#000000"><b>{{ post.created_at|date:"d/m/Y  H:i"}}</b></h4>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            <hr>
                        <div>
                            {% empty %}
                                <h3 style="color:#000000">Oops. Oh no, we don't have any products yet. But you can create your own</h3>
                            {% endfor %}
                       {% endif %}
                            </div>
{% include 'include/pagination.html' %}